<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>World of Cycle</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <script defer src="/js/application.js"></script>
  <script src="https://api-maps.yandex.ru/2.1/?apikey=2a71d57d-b44b-444d-8283-1257829463bc&lang=ru_RU"
    type="text/javascript" defer></script>
  <script src="/js/map.js" type="text/javascript" defer></script>
</head>

<body>
  <div id="header">
    <div id="logo"><a class="navigate" href="/">World Of Cicle</a></div>
    <img id="veloPhoto" src="img/velo.svg">
    <div id="navigation">
      <ul id="menu">
        <li><a class="navigate" href="">маршруты</a></li>
        <li><a class="navigate" href="/login">войти</a></li>
        <li><a class="navigate" href="/registration">регистрация</a></li>
      </ul>
    </div>
  </div>


  {{{body}}}


  <div class="footer">
     <div class="copyright">© 2022 «World of cycles». Сайт создан Волками</div>
     <div class="socialLink">
       <a class="svgLink" href=""><img src="img/fsb.svg" class="src" alt=""></a>
       <a class="svgLink" href=""><img src="img/twitter.svg" class="src" alt=""></a>
       <a class="svgLink" href=""><img src="img/youtube.svg" class="src" alt=""></a>
     </div>
  </div>
</body>

</html>