<h1>вход</h1>
<form name="loginForm" action="/login" method="POST">

  <label for="loginEmail">Email:</label>
  <input id="loginEmail" type="text" name="loginEmail" />

  <br />

  <label for="loginPassword">Пароль:</label>
  <input id="loginPassword" type="text" name="loginPassword" />

  <br />

  <button type="enter">Войти</button>

</form>